.container > h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}
.box{
    display: flex;
    justify-content: space-between;
    background-color: #CAEFD1;
    margin: 1rem;
    padding: 1rem;
}
.ques{
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    padding-bottom: 1rem;
}
.box > button{
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}
.arrow{
    rotate: calc(-90deg);
}